<?xml version="1.0" encoding="utf-8" ?>
<config>
    <database>
        <host>localhost</host>
        <dbname>blog</dbname>
        <user>root</user>
        <password>root</password>
    </database>
    <mail>
        <host>localhost</host>
        <DKIM></DKIM>
    </mail>
    <blog>
        <title>jouan</title>
        <author>Simon JOUAN</author>
        <description>Development of my own blog system in php.</description>
        <twitter>https://twitter.com/fenrir0680</twitter>
        <linkedin>https://www.linkedin.com/in/simon-jouan-b355a927/</linkedin>
        <github>https://github.com/zohac</github>
    </blog>
</config>
