<?xml version="1.0" encoding="utf-8" ?>
<config>
    <database>
        <host>localhost</host>
        <dbname>blog</dbname>
        <user>root</user>
        <password>root</password>
    </database>
    <mail>
        <host>localhost</host>
        <serverName>jouan.ovh</serverName>
        <from>contact@jouan.ovh</from>
        <to>fenrir0680@gmail.com</to>
        <dkimPath>/../../../dkim.private.key</dkimPath>
    </mail>
    <blog>
        <titleBlog>jouan</titleBlog>
        <authorBlog>Simon JOUAN</authorBlog>
        <descriptionBlog>Development of my own blog system in php.</descriptionBlog>
        <twitter>https://twitter.com/fenrir0680</twitter>
        <linkedin>https://www.linkedin.com/in/simon-jouan-b355a927/</linkedin>
        <github>https://github.com/zohac</github>
    </blog>
</config>
