<?xml version="1.0" encoding="utf-8" ?>
<routes>
    <route url="/" module="Post" action="Index"/>
    <route url="/blog" module="Post" action="ListPost"/>
    <route url="/blog/post-([0-9]+)\.html" module="Post" action="Post" vars="id"/>
    <route url="/login" module="Login" action="Login"/>
    <route url="/logout" module="Login" action="Logout"/>
	<route url="/registration" module="Registration" action="Registration"/>
    <route url="/admin" module="Admin" action="Dashboard"/>
    <route url="/admin/post\.html" module="Admin" action="Insert"/>
    <route url="/admin/post-([0-9]+)\.html" module="Admin" action="Update"  vars="id"/>
	<route url="/admin/delete-post-([0-9]+)\.html" module="Admin" action="DeletePost"  vars="id"/>
    <route url="/admin/user.html" module="User" action="ListUser"/>
    <route url="/admin/delete-user-([0-9]+)\.html" module="User" action="DeleteUser"  vars="id"/>
    <route url="/admin/validation-comment-([0-9]+)\.html" module="Admin" action="ValidComment"  vars="id"/>
    <route url="/admin/delete-comment-([0-9]+)\.html" module="Admin" action="DeleteComment"  vars="id"/>
</routes>
