a.logo {
	color: #404040;
	max-width: none !important;
	text-align: center;
}

.img-responsive {
	margin-left: auto;
	margin-right: auto;
}

.thumbnails-pan section {
	display: flex;
}

.thumbnails-pan section article {
	flex: 1;
}