{% extends 'layout.twig' %}

{% block content %}
<!-- main -->
<main role="main-inner-wrapper" class="container">
    <div class="row">
        <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
            <article role="pge-title-content">
                <header>
                    <h2><span>Erreur</span>{{ error }}</h2>
                </header>
                <p>{{ message }}</p>
            </article>
        </section>
        <div class="clearfix"></div>
    </div>
</main>
<!-- main -->
{% endblock %}
