    	<!-- header -->
        	<header role="header">
            	<div class="container">
                	<!-- logo -->
                    	<h1>
                        	<a href="/" title="jouan">&lsaquo;jouan /&rsaquo;</a>
                        </h1>
                    <!-- logo -->

                    <!-- nav -->
                    <nav role="header-nav" class="navy">
                        {% include 'nav-menu.twig' %}
                    </nav>
                    <!-- nav -->
                </div>
            </header>
        <!-- header -->
