<!DOCTYPE HTML>
 <html>
    <head>
    	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta charset="utf-8">

        <!-- Description, Keywords and Author -->
        <meta name="description" content="">
        <meta name="author" content="">

        <title>:: &lsaquo;jouan /&rsaquo; | About ::</title>
		<link rel="shortcut icon" href="frontend/images/favicon.ico" type="image/x-icon">

        <!-- style -->
        <link href="frontend/css/style.css" rel="stylesheet" type="text/css">
        <!-- style -->

        <!-- bootstrap -->
        <link href="frontend/css/bootstrap.min.css" rel="stylesheet" type="text/css">

        <!-- responsive -->
        <link href="frontend/css/responsive.css" rel="stylesheet" type="text/css">

        <!-- font-awesome -->
        <link href="frontend/css/fonts.css" rel="stylesheet" type="text/css">
        <link href="frontend/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <!-- font-awesome -->

	</head>

    <body>
    	<!-- header -->
        	<header role="header">
            	<div class="container">
                	<!-- logo -->
                    	<h1>
                        	<a href="/" title="jouan">&lsaquo;jouan /&rsaquo;</a>
                        </h1>
                    <!-- logo -->

                    <!-- nav -->
                    <nav role="header-nav" class="navy">
                        {% include 'nav-menu.twig' %}
                    </nav>
                    <!-- nav -->
                </div>
            </header>
        <!-- header -->
