<nav role="footer-nav">
	<ul>
		<li class="nav-active"><a href="/" title="About">About</a></li>
		<li><a href="{{ app.request.server.get('SERVER_NAME') }}/blog" title="Blog">Blog</a></li>
		<li><a href="{{ app.request.server.get('SERVER_NAME') }}/admin" title="Admin">Admin</a></li>
	</ul>
</nav>
