<fieldset>
    <div id='success_page'>
        <h3 class='succes_message'E-mail envoyé avec succès.</h3>
        <p>Merci <strong>{{ name }}</strong>, votre message nous a été envoyé.</p>
    </div>
</fieldset>
