<!DOCTYPE HTML>
 <html>
    <head>
    	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta charset="utf-8">

        <!-- Description, Keywords and Author -->
        <meta name="description" content="">
        <meta name="author" content="">

        <title>:: &lsaquo;jouan /&rsaquo; | About ::</title>

        <link rel="shortcut icon" href="frontend/images/favicon.ico" type="image/x-icon">

        <!-- style -->
        <link href="frontend/css/style.css" rel="stylesheet" type="text/css">
        <link href="frontend/css/my-style.css" rel="stylesheet" type="text/css">

        <!-- bootstrap -->
        <link rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
			integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
			crossorigin="anonymous">

        <!-- responsive -->
        <link href="frontend/css/responsive.css" rel="stylesheet" type="text/css">

        <!-- font-awesome -->
        <link href="frontend/css/fonts.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
			integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
			crossorigin="anonymous">

        <link href="frontend/css/effects/normalize.css" rel="stylesheet" type="text/css">
        <link href="frontend/css/effects/component.css" rel="stylesheet" type="text/css">

	</head>

    <body>

    	<!-- header -->
        	<header role="header">
            	<div class="container">
                	<!-- logo -->
                    	<h1>
                        	<a href="/" title="jouan" class="logo">&lsaquo;jouan /&rsaquo;</a>
                        </h1>
                    <!-- logo -->

                    <!-- nav -->
                    <nav role="header-nav" class="navy">
                        {% include 'nav-menu.twig' %}
                    </nav>
                    <!-- nav -->
                </div>
            </header>
        <!-- header -->
		
<main role="main-inner-wrapper" class="container">
	<div class="row">
		<div class="container-fluid">
			<!-- Breadcrumbs-->
			<div class="text-right"><a href="/logout">Déconnexion</a></div>
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="/admin">Dashboard</a>
				</li>
				<li class="breadcrumb-item active">Mon tableau de bord.</li>
			</ol>
		</div>
		<!-- /.container-fluid-->
	</div>
{% if role!="Administrator" %}
	<div class="row">
		<div class="container-fluid">
			<!-- Icon Cards-->
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="card text-white bg-primary">
						<div class="card-body">
							<div>{{ numberOfPosts }} Articles.</div>
							<a href="admin/post.html" class="btn btn-default">Ajouter un nouvel article.</a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="card text-white bg-primary">
						<div class="card-body">
							<div>{{ numberOfUsers }} Utilisateurs.</div>
							<a href="admin/users.html" class="btn btn-default">Détails</a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="card text-white bg-primary">
						<div class="card-body">
							<div>{{ numberOfComments }} Commentaires.</div>
							<a href="admin#Comments" class="btn btn-default">Détails</a>
						</div>
					</div>
				</div>
			 </div>
		</div>
		<!-- /.container-fluid-->
	</div>
	
	<h1>Les articles:</h1>
	<div id="Posts" class="row">
		<section class="col-xs-12">
			<table class="table table-hover">
				<thead class="thead-inverse">
					<tr>
						<th>Titre</th>
						<th>Dernière modification</th>
						<th>Editer</th>
						<th>Supprimer</th>
					</tr>
				</thead>
				<tbody>
				{% for Post in listPosts %}
					<tr>
						<th scope="row">{{ Post.title }}</th>
						<td>{{ Post.date }}</td>
						<td><a href="/admin/post-{{ Post.id }}.html" class="btn btn-primary">Editer</a></td>
						<td><a href="/admin/delete-post-{{ Post.id }}.html" class="btn btn-danger">Supprimer</a></td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</section>
		<div class="clearfix"></div>
	</div>
	<div class="space"></div>
	
	<h1>Commentaires à approuver:</h1>
	<div id="Comments" class="row">
		<section class="col-xs-12">
			<table class="table table-hover">
				<thead class="thead-inverse">
					<tr>
						<th>Titre</th>
						<th>Date de création</th>
						<th>Auteur</th>
						<th>Titre du blog</th>
						<th>Validation</th>
						<th>Supprimer</th>
					</tr>
				</thead>
				<tbody>
				{% for Comment in listOfComment %}
					<tr>
						<th scope="row">{{ Comment.title }}</th>
						<td>{{ Comment.date }}</td>
						<td>{{ Comment.author }}</td>
						<td><a href="/admin/post-{{ Comment.blog-id }}.html">{{ Comment.blogTitle }}</a></td>
						<td><a href="/admin/validation-comment-{{ Comment.id }}.html" class="btn btn-primary">Valider</a></td>
						<td><a href="/admin/delete-comment-{{ Comment.id }}.html" class="btn btn-danger">Supprimer</a></td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</section>
		<div class="clearfix"></div>
	</div>
{% endif %}
	<h1>Mes commentaires:</h1>
	<div id="Comments" class="row">
		<section class="col-xs-12">
			<table class="table table-hover">
				<thead class="thead-inverse">
					<tr>
						<th>Titre</th>
						<th>Date de création</th>
						<th>Titre du blog</th>
						<th>Modification</th>
						<th>Supprimer</th>
					</tr>
				</thead>
				<tbody>
				{% for Comment in myComments %}
					<tr>
						<th scope="row">{{ Comment.title }}</th>
						<td>{{ Comment.date }}</td>
						<td><a href="/admin/post-{{ Comment.blog-id }}.html">{{ Comment.blogTitle }}</a></td>
						<td><a href="/admin/validation-comment-{{ Comment.id }}.html" class="btn btn-primary">Modifier</a></td>
						<td><a href="/admin/delete-comment-{{ Comment.id }}.html" class="btn btn-danger">Supprimer</a></td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</section>
		<div class="clearfix"></div>
	</div>
</main>

        <!-- footer -->
        <footer role="footer">
            <!-- logo -->
                <h1>
                    <a href="/" title="jouan" class="logo"> &lsaquo;jouan /&rsaquo;</a>
                </h1>
            <!-- logo -->

            <!-- nav -->
            {% include 'nav-footer.twig' %}
            <!-- nav -->

            <ul role="social-icons">
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
            </ul>
            <p class="copy-right">&copy; 2015  avana LLC.. All rights Reserved</p>
        </footer>
        <!-- footer -->

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script
			src="https://code.jquery.com/jquery-1.12.4.min.js"
			integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
			crossorigin="anonymous"></script>

        <!-- custom -->
        <!--<script src="/frontend/js/jquery.contact.js" type="text/javascript"></script>-->
        <script src="frontend/js/nav.js" type="text/javascript"></script>
        <script src="frontend/js/custom.js" type="text/javascript"></script>

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
			integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
			crossorigin="anonymous"></script>
        <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
        <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
        <script src="frontend/js/effects/classie.js" type="text/javascript"></script>
        <script src="frontend/js/effects/AnimOnScroll.js" type="text/javascript"></script>
        <script src="frontend/js/effects/modernizr.custom.js"></script>

        <!-- jquery.countdown -->
        <script src="frontend/js/html5shiv.js" type="text/javascript"></script>


    </body>
</html>
